/*--google fonts-- */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400&family=Lato&family=Montserrat:ital,wght@0,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #fff;
    font-family: Lato, Almarai;
}

/* --hero-image, logo and nav-bar-- */
.hero-image {
    width: 100%;
    background: url(../images/plane-contrails.webp) no-repeat;
    background-size: cover;
    background-position: right;
    height: 723px;
    position: relative;
}

/* flex container - column to align logo and sidebar button */
.container-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #103a55;
}

.container-header a {
    text-decoration: none;
    color: #fff;
}

.container-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
    letter-spacing: 3px;
}

.logo {
    letter-spacing: 5px;
    margin: 30px 0 20px 0;
    text-decoration: none;
    font-size: 150%;
}

.nav-bar li {
    font-size: .7em;
    padding: 0 10px 0 10px;
    display: none;
}

/* --side-bar-- */
/* <!-- ref w3schools https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp --> */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background: url(../images/pink-sky-contrails.webp) no-repeat center;
    background-size: cover;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a:not(.closebtn) {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* hover over nav links in sidebar */
  .sidebar a:hover {
    color: #fff;
    background-color: #fd9c35;
  }

  /* hover over close button in sidebar */
  span.closebtn:hover {
    color: #fff;
    background-color: #fd9c35;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: #000;
    padding: 0 0.5em;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #103a55;
    color: #fff;
    padding:5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
  }
  
  /* hover over open button for sidebar */
  .openbtn:hover {
    background-color: #80d8da;
  }
  
  /* push the page content to the right when you open the sidebar */
  #main {
    -webkit-transition: margin-left .5s;
    -o-transition: margin-left .5s;
    transition: margin-left .5s; 
    padding-bottom: 20px;
  }
  
  /* less padding and a smaller font size */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

/* --cover-text-- */
.cover-text {
    width: 90%;
    background-color: #934106;
    position: absolute;
    top: 383px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 10px;
    padding-bottom: 1em;
}

/* large text on cover-text overlay */
.cover-text h2 {
    font-size: 200%;
    margin: 10px 10px 10px 10px;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
}

/* sign-up link below cover-text */
.cover-text h3 {
    margin: 35px 0 10px 10px;
    padding: 10px 0 2px 0;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
}

/* hover over sign-up link below cover-text */
.cover-text h3:hover {
    color: #80d8da;
    border-bottom: 1px solid #80d8da;
}

/* remove blue link underline */
.cover-text a {
    text-decoration: none;
}

/* --info section-- */
.container-info {
    background-color: #F6EBE0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* img for screen sizes up to 750px */
.toy-plane img {
    margin: 60px 0 20px 0;
    width: 100%;
}

/* img hidden until 750px */
.plane-window {
    display: none;
}

/* first large text in info-section */
.txt-info-1 h3 {
    font-size: 187%;
    margin: 20px 20px 10px 20px;
    letter-spacing: 3px;
    color: #000;
    text-transform: uppercase;
    line-height: 45px;
}

/* first paragraph in info-section */
.txt-info-1 p {
    margin: 10px 20px 20px 20px;
    color: #000;
    letter-spacing: 2px;
    line-height: 30px;
    font-family: Montserrat, Almarai;
    font-weight: 900;
}

/* buttons on info-section */
.txt-info-1 .button-div {
    display: block;
    margin-left: 18px;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    letter-spacing: 3px;
    cursor: pointer;
    width: 38%;
    font-size: 100%;
    margin-bottom: 40px;
    text-align: center;
    background-color: #934106;
}

/* buttons on info-section */
.button-style-black:hover {
    background-color: #fd9c35;
    color: #000;
}

/* second large text in info-section */
.txt-info-2 h3 {
    font-size: 200%;
    margin: 0 20px 10px 20px;
    letter-spacing: 3px;
    color: #000;
    text-transform: uppercase;
    line-height: 45px;
}

/* img for screen sizes up to 750px */
.stormy-clouds img {
    margin: 10px 0 20px 0;
    width: 100%;
}

/* img hidden until 750px */
.vert-storm-clouds {
    display: none;
}

/* --customer-review--*/
/* background colour for cust-review section */
.cust-review {
    background-color: #255C7E;
}

/* customer review text */
.cust-review h3, .cust-review h4 {
    margin: 0 20px 0 20px;
    padding: 20px 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 25px;
    font-family: Montserrat, Almarai;
    font-weight: 900;
    font-style: italic;
    text-align: left;
}

/* customer review name */
.cust-review h4 {
    padding: 2px 0 30px 0;
}

/* --course-info--*/
/* flex container and background image for section */
.course-info {
    background: url(../images/cockpit.webp) no-repeat center;
    background-size: cover;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* style the three divs in a column */
.course-info [class$="-course"] {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #fff;
    text-align: center;
    line-height: 20px;
    letter-spacing: 2px;
    padding: 25px 10px;
    font-size: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: calc(100% - 50px);
}

/* large header and text beneath */
.course-info h2, .course-info h3 {
    padding: 8px;
    color: #fff;
}

/* padding beneath large header */
.course-info h2 {
    padding-bottom: 20px;
}

/* remove the blue underline for links */
.course-info a {
    text-decoration: none;
}

/* zoom animation for course-info section */
.hover-zoom {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hover-zoom:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}


/*--flight-support--*/
/* flexbox for flight-support section and style to column */
.container-flight-support{
    background-color: #F6EBE0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* youtube video */
.flight-support iframe {
    height: 220px;
    width: 100%;
}

/* paragraph in flight-support section */
.txt-support-1 p {
    margin: 20px 20px 20px 20px;
    color: #000;
    letter-spacing: 2px;
    line-height: 30px;
    font-family: Montserrat, Almarai;
    font-weight: 900;
}

/* hyperlink embedded in both info-section & flight-support section */
.txt-info-1 a {
    color: #000;
    font-weight: bolder;
}

/* hover over hyperlinks */
.txt-info-1 .hyperlink-txt:hover {
    color: #fd9c35;
}

/* check my flight button */
#turbli-link-button {
    display: block;
    margin-left: 18px;
    color: #fff;
    text-decoration: none;
    padding: 18px 20px;
    letter-spacing: 3px;
    cursor: pointer;
    width: 46%;
    font-size: 90%;
    margin-bottom: 40px;
    text-align: center;
    background-color: #934106;
}

/* hover over check my flight button */
#turbli-link-button:hover {
    background-color: #fd9c35;
    color: #000;
}

/*--sign-up-form-- */
/* background image for sign-up form */
.sign-up-form {
    background: url(../images/paper-plane.webp) no-repeat center;
    width: 100%;
    background-size: cover;
}

/* flexbox and overlay background color of sign-up form */
.sign-up-form .form-container {
    background-color: rgba(0, 0, 0, .6);
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

}

/* style for input fields - text box */
.form-container .text-box {
    background: transparent;
    border: 1px solid #fff;
    line-height: 30px;
    letter-spacing: 2px;
    color: #fff;
}

/* turn form into flexbox and column */
.flex-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* main header of sign-up form */
.form-container h2 {
    padding-bottom: 15px;
    font-size: 200%;
    letter-spacing: 3px;
}

/* header for radio buttons */
.flex-form label, .form-container h3 {
    padding: 5px;
    line-height: 30px;
    letter-spacing: 2px;
}

/* label for radio buttons */
.radio-label {
    line-height: 30px;
    letter-spacing: 2px;
    padding: 5px;
}

/* to space radio options */
.radio-option {
    margin-right: 18px;
}

/* to align with radio option above */
#online-label {
    padding-right: 19px;
}

/* orange sign-up button on sign-up form */
.button-style-orange {
    background-color: #fd9c35;
    color: #000;
    padding: 15px 30px;
    letter-spacing: 3px;
    margin: 20px 0;
    cursor: pointer;
    font-size: 110%;
}

/* hover over sign-up button */
.button-style-orange:hover {
    background-color: #934106;
    color: #fff;
}

/* hover over input fields - text box */
.flex-form > input:hover {
    border-color: #fd9c35;
}

/* --footer-- */
/* flexbox and alignment for social icons */
.social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    list-style-type: none;
}

/* color and size of social links in footer */
.social-links a {
    color: #fff;
    font-size: 150%;
}

/* color and spacing for footer */
.footer-container {
    background-color: rgb(16, 58, 85);
    padding: 35px 0 35px 0;
}

/* hover over social links */
.social-links a:hover {
    color: #fd9c35;
} 


/* --confirmation.html - destination upon submission of sign-up form-- */
/* background img for confirmation page */
.confirmation-page {
    background: url(../images/paper-plane.webp) no-repeat center;
    background-size: cover;
    height: 100vh;
}

/* flexbox, background overlay color and column styling for confirmation page */
.confirmation-container {
    background-color: rgba(0, 0, 0, .6);
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* text on confirmation page */
.confirmation-text {
    padding: 20px 0 20px 0;
    letter-spacing: 2px;
    line-height: 50px;
    text-align: center;
}

#main-link {
    color: #fd9c35;
    text-decoration: none;
}

/* font-size for header text on confirmation page */
#h1-text {
    font-size: 230%;
}

/* font-size for sub-header on confirmation page */
#h2-text {
    font-size: 165%;
}

/* for screen sizes 390px wide and up */

@media screen and (min-width: 390px) {
    /* course-info */
    .course-info [class$="-course"] {
        font-size: 120%;
    }

    /* check my flight button */
    #turbli-link-button {
    width: 38%;
    }
}

/* for screen sizes 750px wide and up */

@media screen and (min-width: 750px) {
    /* removal of sidebar */
    .sidebar {
        display: none;
    }

    /* removal of sidebar */
    .openbtn {
        display: none;
    }
    /* adding nav-bar */
    .nav-bar li {
        font-size: 1.1em;
        padding: 0 10px 0 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    /* increase size of logo */
    .logo {
        font-size: 300%;
    }

    /* color change-hover over nav-bar links */
    .nav-bar .nav-bar-hover:hover {
        color: #fd9c35;
    }

    /* main central text */
    .cover-text h2 {
        font-size: 213%;
    }

    /* sign-up text */
    .cover-text h3 {
        margin-top: 30px;
        font-size: 105%;
    }

    /* sign-up text */
    .cover-text h3:hover {
        color: #000;
        border-bottom: 1px solid #000;
    }

    .cover-text a {
        text-decoration: none;
    }

    /* info-section */
    /* flexbox for upper image, heading and text */
    .media-750px-info1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    /* img hidden above 750px */
    .toy-plane img {
       display: none; 
    }

    /* img displayed above 750px */
    .plane-window {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 46%;
        margin: 50px 20px 40px 20px;
        border-radius: 10%;
    }
   
    /* upper large text */
    .txt-info-1 h3 {
        font-size: 180%;
        margin: 30px 20px 20px 20px;
    }
    
    /* paragraph under large text */
    .txt-info-1 p {
        margin: 10px 20px 36px 20px;
    }

    /* flexbox for bottom image, heading and text */
    .media-750px-info2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    /* img hidden above 750px */
    .stormy-clouds img {
        display: none;
    }

    /* img displayed above 750px */
    .vert-storm-clouds {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 47%;
        margin: 60px 20px 40px 30px;
        -o-object-fit: cover;
           object-fit: cover;
        border-radius: 10%;
    }

    /* re-order img and text horizontally */
    div .vert-storm-clouds {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    /* bottom large text */
    #heading-media-query{
        margin: 80px 30px 20px 20px;
    }

    /* bottom text */
    #text-media-query {
        margin: 25px 20px 36px 20px;
    }

    /* learn-more button */
     div .button-style-black {
        margin-left: 20px;
    }

    /* course-info section */
    /* change from column to row */
    .course-info {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    /* to maintain border-bottom alignment */
    .course-info [class$="-course"] {
        line-height: 20px;
        font-size: 85%;
    }

    /* large text */
    .course-info h2 {
        font-size: 150%;
    }

    /* smaller text */
    .course-info h3 {
        font-size: 130%;
    }

    /* to align bottom of middle div */
    .half-day-course h3 {
        margin-bottom: 12px;
    }

    /* to align bottom of right div */
    .online-course h3 {
        margin-bottom: 5.3px;
    }

    /* flight-support */
    /* re-size youtube video */
    .flight-support iframe {
        width: 710px;
        height: 400px;
        margin: 2em auto;
    }

    /* check my flight button */
    #turbli-link-button {
        margin-left: 20px;
        width: 22%;
        }

    /* sign-up form */
    /* to center the form */
    form {
        margin-left: 30%;
    }

    /* to center the header */
    .form-container h2 {
        margin-left: 30%;
        margin-top: 20px;
        font-size: 260%;
    }

    /* to align the radio buttons */
    .radio-option {
        margin-right: 35px;
    }

    /* increase spacing between radio btns */
    .radio-option {
        margin-right: 75px;
    }

    /* reduce width of input fields */
    .form-container .text-box {
        width: 60%;
    }

    /* font-size of social icons */
    .social-links a {
        font-size: 175%;
    }
}

/* for screen sizes 950px wide and up */

@media screen and (min-width: 950px) {
   /* main central text */
   .cover-text h2 {
    font-size: 276%;
    margin-left: 20px;
   }
    
   /* width of sign-up link */
    .cover-text h3 {
        font-size: 135%;
        margin-left: 20px;
    }

    /* info-section */
    /* large img */
    .plane-window {
        width: 50%;
        margin: 50px 30px 40px 30px;
    }

    /* upper large text */
    .txt-info-1 h3 {
        font-size: 200%;
        margin: 140px 20px 20px 30px;
        text-align: center;
    }

    /* paragraph under large text */
    .txt-info-1 p {
        margin: 10px 30px 40px 30px;
        line-height: 35px;
        text-align: center;
    }

    /* bottom large text */
    #heading-media-query {
        margin: 180px 30px 20px 30px;
    }

    /* bottom text */
    #text-media-query {
        margin: 30px 10px 40px 30px;
    }

    .txt-info-1 .button-div {
        margin-left: 25%;
    }

    /* large img */
    .vert-storm-clouds {
        width: 45%;
        margin: 60px 30px 40px 30px;
    }

    /* cust-review section */
    .cust-review h3 {
        margin: 0 30px;
    }

    .cust-review h4 {
        margin: 0 30px;
    }

    /* course-info section */
     /* large text */
     .course-info h2 {
        font-size: 200%;
    }

    /* smaller text */
    .course-info h3 {
        font-size: 155%;
    }

    /* flight-support section */
    /* heading */
    .txt-support-1 h3 {
        font-size: 260%;
        margin: 40px 30px 30px 30px;
    }

    /* youtube video */
    .flight-support iframe {
        margin: 2em auto;
        width: 890px;
        height: 450px;
    }

    /* check my flight button */
    #turbli-link-button {
        width: 19%;
        font-size: 100%;
        margin-left: 30px;
    }

    /* sign-up form */
    /* to center the form */
    form {
        margin-left: 30%;
    }

    /* to center the header */
    .form-container h2 {
        margin-left: 30%;
        margin-top: 20px;
        font-size: 260%;
    }

    /* remove line-break in radio buttons */
    #hidden-space-750px {
        display: none;
    }

    /* to align the radio buttons */
    .radio-option {
        margin-right: 42px;
    }

    /* to remove the alignment from below 750px */
    #online-label {
        padding-right: 5px;
    }
}

/* for screen sizes 1200px wide and up */

@media screen and (min-width: 1200px){
    
    /* align logo and nav-bar along top of page */
    .container-header {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .logo {
        margin: 30px 0 30px 30px;
    }

    /* padding left-over from side-bar */
    #main {
        padding-bottom: 0;
    }

    /* to algin nav-bar */
    nav {
        margin-right: 20px;
    }

    /* position plane lower in viewport */
    .hero-image {
        background-position-y: -75px;
    }

    /* info-section */
    /* large img */
    .plane-window {
        height: 500px;
        margin: 50px 30px 40px 30px;
    }

    /* upper large text */
    .txt-info-1 h3 {
        font-size: 258%;
        text-align: center;
        line-height: 1.5em;
    }

    /* bottom large text */
    #heading-media-query {
        margin: 90px 30px 20px 30px;
    }

     /* large img */
     .vert-storm-clouds {
        height: 500px;
        margin: 0 30px 40px 5px;
    }

    /* button width */
    .txt-info-1 .button-div {
        width: 15%;
    }

    .txt-info-1 .button-div {
        margin-left: 42%;
    }

    /* course-info */
    /* increase size of section and text */
    .course-info [class$="-course"] {
        line-height: 40px;
        /* to maintain border-bottom alignment */
        font-size: 119%;
    }

    /* to align bottom of middle div */
    .half-day-course h3 {
        padding-bottom: 15px;
    }

    /* increase size of header */
    .form-container h2 {
        font-size: 300%;
    }

     /* check my flight link button */
     #turbli-link-button {
        width: 15%;
    }

    /* sign-up form */
    /* increase size of input field labels */
    .flex-form label, .form-container h3 {
        font-size: 150%;
    }

    /* increase size of radio labels */
    .radio-label {
        line-height: 35px;
        font-size: 125%;
    }

    /* space radio options evenly and align with text box above */
    .radio-option {
        margin-right: 72px;
    }

     /* font-size of social icons */
     .social-links a {
        font-size: 200%;
    }
}